{% extends "base.html.twig" %}

{% block title %}
	Mes commandes
{% endblock %}

{% block body %}
	<h1>Mes commandes</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Numéro</th>
				<th>Adresse</th>
				<th>Date de commande</th>
				<th>Produits</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			{% for p in purchases %}
				<tr>
					<td>{{ p.id }}</td>
					<td>{{ p.adress }}<br>{{p.postalCode}},
						{{p.city}}</td>
					<td>{{ p.purchasedAt | date('d/m/Y H:i') }}</td>
					<td>
						<ul>
							{% for line in p.purchaseLines %}
								<li>{{ line.quantity }}x
									{{ line.productName }}
									({{ line.total }}
									€)</li>
							{% endfor %}
						</ul>
					</td>
					<td>{{ p.total }}
						€</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
