<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}CHS pièces Motoculture
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																		           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/5/lumen/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<img src="images/chs-logo.PNG"/>
			<h1>
				<strong>CHS Pièces Motoculture</strong>
			</h1>
		{% endblock %}

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarColor02">
					<ul class="navbar-nav me-auto">
						{% for c in categoryRepository.findAll() %}
							<li class="nav-item">
								<a class="nav-link" href="{{ path('product_category', {'category_slug': c.slug,'slug': c.slug})}}">{{ c.name }}</a>
								<!-- j'ai rajouté 'category_slug':c.slug -->
							</li>
						{% endfor %}
					</ul>
					<!--<form class="d-flex">
																																																																																																																									<input class="form-control me-sm-2" type="text" placeholder="Search">
																																																																																																																									<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
																																																																																																																								</form>-->
					<ul class="navbar-nav">
						<li class="nav-item">
							<a href="{{ path('cart_show')}}" class="nav-link">
								<i class="fas fa-shopping-cart"></i>
								Panier ({{ cartService.total }})</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a href="#" class="nav-link">Mes Commandes</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('security_logout') }}" class="btn btn-danger">Deconnexion</a>
							</li>
						{% else %}
							<li class="nav-item">
								<a href="#" class="nav-link">Inscription</a>
							</li>
							<li class="nav-item">
								<a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>


		{% block body %}
			{% for rubrique, messages in app.flashes %}
				<div class="alert alert-{{rubrique}}">
					{% for message in messages %}
						<p>{{ message }}</p>
					{% endfor %}
				</div>
			{% endfor %}
		{% endblock %}
	</body>
</html>
